.slide {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 240px;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background-color: white;
}

.slide > h1 {
  margin: 0;
  font-size: 96px;
  font-weight: 500;
  word-wrap: break-word;
}

.slide > h2 {
  margin: 40px 0 0;
  font-size: 48px;
  font-weight: 400;
}

.slide > .meta {
  position: fixed;
  bottom: 40px;
  right: 40px;
  font-size: 36px;
  font-weight: bold;
}
