.slide {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background-color: white;
}

.slide > h1 {
  word-wrap: break-word;
  margin: 0;
  font-size: 96px;
}

.slide > h2 {
  margin: 0;
  font-size: 48px;
  font-weight: 400;
}
